body {
	background-color: black;
}

div.page {
	position: relative;
}

img#logo {
	display: block;
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
}

.writing {
	color: gold;
	position: absolute;
}

.header {
	position: relative;
	max-height: 65px;
	padding-bottom: 0px;
}

a.menubarbtn {
	outline: none;
}

div#menubar {
	position: relative;
	display: table;
	font: 20px arial, sans-serif;
	float: left;
	padding-top:65px;
	padding-left: 100px;
}
#currentFrame {
	height: 490px;
	width: 100%;
	position: relative;
}

div#menubar ul li {
	display: inline; 
	padding: 8px;
}

.footer {
	position: relative;
}

.creditsContainer {
	position: relative;
}

img#credits {
	display: block;
    max-height:150px;
    width: auto;
    height: auto;
}